{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1">  
    <div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block mt-2">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
            <a href="#">
                <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
            </a>
        </li>
        <li class="breadcrumb-item"><a href="#">Stock</a></li>
        <li class="breadcrumb-item active" aria-current="page">Emplacement / Materiel Par emplacement</li>
    </ol>
</nav>
</div>
<h5>Autre Emplacement</h5>
  </div>
<div class="row mx-1 mt-0" style="width: auto;">
    {% for soc in soc_prod %}
    {% if soc.societe == 'autre' %}
    <div class="col-6  mt-4" >
        <div class="card border-5 border-success {% for etat in rec %} {% if soc.societe == etat.article.issue_to.societe %} border-danger {% else %} border-success {% endif %} {% endfor %} bg-light shadow">
            <div style="height: 160px;" class="card-body bg-light">
                <h2 class="text-dark text-xl-center">{{soc.societe}}</2>
                    <a href="{% url 'item_emplacement' soc.societe%}" class="stretched-link"></a>
            </div>
            <div class="card-footer  text-muted">
                <button type="button" class="btn btn-white">
                    items <span class="badge bg-success">{{soc.societe__count}}</span>
                  </button>
              </div>
            </div>
            
            </div>
           {% endif %}
            {% endfor %}
            </div>
        </div>
        
{% endblock content %}
                            