{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          
          <h2 class="h4">Ajouter un emplacement</h2>
          <p class="mb-0">remplir le formulaire.</p>
      </div>
     
  </div>
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <form  method="POST" class="justify-content-center" >
        {% csrf_token %}
       
        <div class="col-7 mx-auto">
          {{form.nom_dis|as_crispy_field}}
        </div>
          <div class="col-7 mx-auto">
            {{form.societe|as_crispy_field}}
          </div>
          <div class="row mt-4">
        <div class="col-7 mx-auto">
          <a class="btn btn-danger" href="{% url 'gest_Distinations' %}">Annuler</a>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
   
      </form>
</div>
    {% endblock %}
    {% block javascripts %}
    
    {% endblock javascripts %}