{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1">  
    <div class="d-block mb-4 mb-md-0">
   
</div>
<div class="btn-toolbar mb-0 mb-md-0">
    {% if request.user.is_staff %}
    <a href="{% url 'autre_emplacement' %}" class="btn btn-sm btn-gray-800 d-inline-flex align-items-left mt-2 mx-3" style="left: 500px !important;">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>Autre</a>
  {% endif %}
  </div>
  </div>
<div class="row mx-1 mt-0" style="width: auto;">
    {% for soc in soc_prod %}
    {% if soc.societe != 'autre' %}
    <div class="col-6  mt-4" >
        
        <div class="card border-5 border-success {% for etat in rec %} {% if soc.societe == etat.article.issue_to.societe %} border-danger {% else %} border-success {% endif %} {% endfor %}  shadow">
            <div style="height: 160px;" class="card-body bg-light">
                <h2 class="text-dark text-xl-center">{{soc.societe}}</h2>
                    <a href="{% url 'item_emplacement' soc.societe%}" class="stretched-link"></a>
            </div>
      
            <div class="card-footer  text-muted">
              
                <button type="button" class="btn btn-white">
                     <span class="badge bg-success">{{soc.societe__count}}</span>box
                  </button>
                  <button type="button" class="btn btn-white">
                    <span class="badge bg-secondary">
                        {% for item in all %}
                        {% if soc.societe == item.issue_to__societe %}
                        {{item.id__count}}
                        {% endif %}
                        {% endfor %}
                    
                   
                </span> article
                 </button>
              </div>
            </div>
            
            </div>
           {% endif %}
            {% endfor %}
            </div>
        </div>
        
{% endblock content %}
                            