{% for article in listdemandes %}
              <tr>
                <td>{{article.id}}</td>
                <td> {{article.article}} </td>
                <td>{{article.demander}}</td>
                <td>
                    <div class="ms-sm-3"><span class="badge super-badge bg-success">{{article.quantite}}</span>
                    </td>
                          <td class=" ">
                              
                              <span class=" d-flex ">
                                {% if article.validation == 'valider' %}
                                  <svg class="icon icon-xxs text-success me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg> 
                                      {% elif article.validation == 'en-cours' %}
                                      <svg class="icon icon-xxs text-purple me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path></svg>
                                        {% else %}
                                        <svg class="icon icon-xxs text-danger  me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M506.3 417l-213.3-364c-16.33-28-57.54-28-73.98 0l-213.2 364C-10.59 444.9 9.849 480 42.74 480h426.6C502.1 480 522.6 445 506.3 417zM232 168c0-13.25 10.75-24 24-24S280 154.8 280 168v128c0 13.25-10.75 24-23.1 24S232 309.3 232 296V168zM256 416c-17.36 0-31.44-14.08-31.44-31.44c0-17.36 14.07-31.44 31.44-31.44s31.44 14.08 31.44 31.44C287.4 401.9 273.4 416 256 416z"/></svg>
                                        {% endif %}
                                        <span class=" {% if article.validation == 'valider' %} text-success  {% elif article.validation == 'en-cours' %} text-purple {% else %} text-danger {% endif %}">{{article.validation}}</span>
                                    </span>
                                    
                            </td> 
                            <td>
                                <button data-url="{% url 'valide_demande' article.id %}" type="button" class="btn btn-primary verification-demande_btn" >
                                   Verifier la demande</button>
                            </td>
                        </tr>
                        
                        {% endfor %}