{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-1">
      <div class="d-block mb-0 mb-md-0">
        
      <h2 class="h4">Formulaire de Reclamation</h2>
      <p class="mb-0">description de l'etat de la produit</p>
  </div>
    
  </div>
  

  
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <p class="mx-5 justify-content-center" style="text-align: center !important;">demande la Réparation de {{item.id_sous_famille.designation}}-{{item.id_sous_famille.marque}} 
de Box: {{item.issue_to.nom_dis}}.</p>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlTextarea1">description de l'etat</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="observation" rows="3"></textarea>
          </div>
        <button class="btn btn-primary mt-3" type="submit">submit</button>
        <a href="{% url 'list_reparation' %}" class="btn btn-danger mt-3" >annuler</a>
      </form>
     </div>
     

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>


</script>



{% endblock javascripts %}